<h2 class="titre-supprimer" mat-dialog-title>Panier</h2>
<div mat-dialog-content>
  <p class="subtitre-supprimer" *ngIf="kitsDemander.length == 0">votre panier est vide</p>
  <table *ngIf="kitsDemander.length != 0">
    <thead>
      <tr class="">
        <th class="">Kit</th>
        <th class="">Quantite</th>
        <th class="icon-table-th"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="row-table-stock"*ngFor="let kit of kitsDemander ">
        <td class="">{{kit.kit.nom}}</td>
        <td class="">{{kit.quantite}}</td>
      
       <td class="icon-table-td"> 
      
          <i href="https://github.com/FortAwesome/Font-Awesome" (click)="deleteKitPanier(kit.id_kit)" title="Supprimer" class="fa fa-times-circle-o fa-2x icon-color-refuser"
            aria-hidden="true"></i>
         
         <!--
          <img class="img-stock-table" src="../../../../assets/delete-kit-panier.png" (click)="deleteKitPanier(kit.id_kit)" alt="">
   -->
        </td>
       
      </tr>
    </tbody>
  </table>
</div>
<div mat-dialog-actions align="end">
  <button mat-button  (click)="onNoClick()">Annuler</button>
  <button mat-button class="btn-supprimer" [mat-dialog-close]="true" [disabled]="kitsDemander.length == 0"  cdkFocusInitial>Envoyez les demandes</button>
</div>