.section-add-stock{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    background-color: #faf8f8;
    align-items:  center ;
    background-size: 45%;
    background-repeat: no-repeat;
    background-image: url(../../../../../assets/ajouter-kit.png) ;
    background-position-x: 12%;
    background-position-y: -113%;
    justify-content: flex-start ;
  //  height: -webkit-fill-available;

    min-height: 86vh;
}

.add-stock-formulaire{
 
    width: 82%;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
}
.container-titre{
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    
}




.form-group {
    margin-bottom: 2rem !important;
    
}
.form-add-stock{
    //justify-content: flex-end ;
    align-self:  flex-end;
    align-items: flex-end;
    width: 40%;
    margin-right: 13%;
}

.btn-add-stock-display{
    justify-content: flex-end ;
}

.titre-add-stock{
    color: #005578;
    //font-size: larger;
    font-weight: 500;
    font-size: xx-large;
    justify-content: flex-start ;
}

.btn-add-stock{
    width: 10em;
    border-radius: 0.5em;
    background-color: #2091c0;
    border-color: #2091c0;
    color: #fff;
}

.btn-annuler-add-stock{
    width: 10em;
    border-radius: 0.5em;
    background-color: #769baa;
    border-color: #769baa;
    color: #fff;
}

.input-add-stock{
    background-color:  #ededed ;
}

.button-container{
    margin-left: 15px;
}