
.btn-supprimer{
   //  width: 10em;
     border-radius: 0.5em;
     background-color: #2091c0;
     border-color: #2091c0;
     color: #fff;
 }

 .titre-supprimer{
   color: #005578;
   font-size: x-large;
   font-weight: 500;
}

.subtitre-supprimer{
   color: #0174a5;
   font-size: medium;
   font-weight: 400;
}

mat-slider {
   width: 300px;
 }
