<div class="section-reservation">
  
  <div class="image-container">
    <img src="../../../../assets/bg-reservation-formation.png">
  </div>

  <div class="reservation-formulaire">

    <h1 class="titre-reservation">Réserver une formation</h1>

    <form class="form-reservation" [formGroup]="reservationForm" (ngSubmit)=" onSubmit()" novalidate>



      <div class="form-group">
        <label class="titre-reservation" >Date et heurs de formation</label>
        <input type="datetime-local" 
        placeholder="Date" 
        class="form-control input-reservation" 
        formControlName="date_formation"
          required 
        />

        <div class="alert-danger" *ngIf="!reservationForm.controls['date_formation'].valid && (reservationForm.controls['date_formation'].touched)">
          <div [hidden]="!reservationForm.controls['date_formation'].errors.required">
            ce champs est obligatoire
          </div>
        </div>
       
      </div>

      <!--

      <div class="form-group">
        <input type="time" 
        placeholder="Heure début" 
        class="form-control input-reservation" 
        formControlName="heure_debut"
        min="09:00 AM" max="06:00 PM"
          required 
        />

        <div class="alert-danger" *ngIf="!reservationForm.controls['heure_debut'].valid && (reservationForm.controls['heure_debut'].touched)">
          <div [hidden]="!reservationForm.controls['heure_debut'].errors.required">
            ce champs est obligatoire
          </div>
        </div>
        <div class="alert-danger" *ngIf="reservationForm.controls['heure_debut'].value< '09:00 ' && (reservationForm.controls['heure_debut'].touched)">
          <div >
           l'heure minimale est 09:00 PM
          </div>
        </div>
        <div class="alert-danger" *ngIf="reservationForm.controls['heure_debut'].value> '18:00 ' && (reservationForm.controls['heure_debut'].touched)">
          <div >
           l'heure maximale est 06:00 PM
          </div>
        </div>
      </div>

      <div class="form-group">
        <input type="time" 
        placeholder="Heure fin" 
        class="form-control input-reservation" 
        formControlName="heure_fin"
        min="09:00 AM" max="06:00 PM"
          required 
        />
        <span class="validity"></span>
        <div class="alert-danger" *ngIf="!reservationForm.controls['heure_fin'].valid && (reservationForm.controls['heure_fin'].touched)">
          <div [hidden]="!reservationForm.controls['heure_fin'].errors.required">
           ce champs est obligatoire
          </div>
        </div>
        <div class="alert-danger" *ngIf="reservationForm.controls['heure_fin'].value< '09:00 ' && (reservationForm.controls['heure_fin'].touched)">
          <div >
           l'heure minimale est 09:00 PM
          </div>
        </div>
        <div class="alert-danger" *ngIf="reservationForm.controls['heure_fin'].value > '18:00 ' && (reservationForm.controls['heure_fin'].touched)">
          <div >
           l'heure maximale est 06:00 PM
          </div>
        </div>
        <div class="alert-danger" *ngIf="reservationForm.controls['heure_fin'].value <= reservationForm.controls['heure_debut'].value && (reservationForm.controls['heure_fin'].touched)">
          <div >
           l'heure de début doit etre superieure a l'heure de fin
          </div>
        </div>
       

      </div>
-->

      <div class="form-group">
        <label class="titre-reservation" >Nombre des enfants</label>
        <input type="number" min="10" max="30" placeholder="Nombre des enfants"
          class="form-control input-reservation"
          formControlName="nbr_enfants"
          required 
          />

          <div class="alert-danger" *ngIf="!reservationForm.controls['nbr_enfants'].valid && (reservationForm.controls['nbr_enfants'].touched)">
            <div [hidden]="!reservationForm.controls['nbr_enfants'].errors.required">
              ce champs est obligatoire
            </div>
          </div>
      </div>

      <div class="form-group">
        <label class="titre-reservation" >Formation</label>
        <select class="form-control input-reservation"
        formControlName="id_formation"
       
        required 
        >
          <option value="" disabled selected hidden>Formation</option>
          <option *ngFor="let formation of formations" value="{{formation.id}}" >{{formation.nom}} </option>

        </select>

        <div class="alert-danger" *ngIf="!reservationForm.controls['id_formation'].valid && (reservationForm.controls['id_formation'].touched)">
          <div [hidden]="!reservationForm.controls['id_formation'].errors.required">
            ce champs est obligatoire
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="titre-reservation" >Formateur</label>
        <select class="form-control input-reservation"
        formControlName="id_formateur"
        required 
        >
          <option value="" disabled selected hidden>Formateur</option>
          <option *ngFor="let formateur of formateurs" value="{{formateur.id}}">{{formateur.nom}} {{formateur.prenom}}</option>

        </select> 
        <div class="alert-danger" *ngIf="!reservationForm.controls['id_formateur'].valid && (reservationForm.controls['id_formateur'].touched)">
          <div [hidden]="!reservationForm.controls['id_formateur'].errors.required">
            ce champs est obligatoire
          </div>
        </div>
      </div>
      <div class="form-group container-totale" *ngIf="reservationForm.controls['id_formation'].valid && reservationForm.controls['nbr_enfants'].valid">
        <h2 class="titre-reservation">Totale :</h2>
        <h2 class="titre-reservation"> {{getPrixFormation(reservationForm.value.id_formation,reservationForm.value.nbr_enfants)}}   Dinars</h2>
      </div>

      <div class="form-group">
        <div class="d-flex btn-reservation-display">
         
          <div class="button-container">
            <button class="btn  btn-annuler-reservation" (click)="gotoListeReservation()">
             Annuler
            </button>
          </div>

          <div class="button-container">
            <button class="btn k btn-reservation" type="submit" [disabled]="!reservationForm.valid">
              Réserver
            </button>
          </div>
        </div>

      </div>
    </form>
  </div>

</div>
