.section-list-formation{
   display: flex;
   flex-direction: column;
  padding: 7% 10% 7% 10%;
   background-color: #faf8f8;
   min-height: 86vh;
 // height: -webkit-fill-available;
}

.header-list-formation{
    width: 100%;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.titre-liste-formation{
   color: #005578;
   font-size: xx-large;
   font-weight: 500;
   justify-content: flex-start ;
   align-items:  flex-start ;
}



.header-right-formation{
   width: 30%;

   display: flex;
   flex-direction: row;
   align-items:  center ;
   justify-content: space-between;
}


.image-add-formation-container img{
 width: 67%;
// opacity: 80%;
}

.link-container{
  margin-right: 20px;
  padding-top: 10px;
 }

.link-text{
   color: #1b8fbe ;
   text-decoration: underline;
 }

.search-list-formation {
   margin-right: 2rem !important;
   width: 80%;
}

.input-search-formation{
   width: 100%;
   background-color:  #ededed ;
   background-image: url(../../../../../assets/search.png) no-repeat scroll 7px 7px;
  
   background-position: right;
}



.content-list-formation{

 display: flex;
 flex-wrap:  wrap ;
 align-content: flex-start;
 justify-content: space-between;
 padding-left: 10%;
 padding-right: 10%;
 margin-top: 5%;
}
.table-container{
   width: 100%;
}


table {
   width: 100%;
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
   table-layout: fixed;
 }
 
  th {
   border-bottom: 2px solid #b5c858;
   text-align: left;
   padding: 8px 8px 4px 8px;
   color: #005578;
   font-size: large;
   width: 16%;
   max-width: 16%;
 }

 .prix-table-th a{
   color: #2478a3;
   font-size: small;
 }

 
 td {
   border-bottom: 1px solid #b5c858;
   text-align: left;
   padding: 8px 8px 0 8px ;
   color: #545454;
   width: 16%;
   max-width: 16%;
   overflow: hidden;
   text-overflow: ellipsis;
 }

 .icon-table-td{
   min-width: 5%;

   width: 5% !important;
   text-align: center;
   padding: 8px 8px 8px 8px  ;
 }

 .icon-table-th{
   width: 5%;
   min-width: 5%;
 }

 .row-table-formation:hover {
   background-color:  #e7e7e7;
 }

 .img-formation-table{
   width: 50%;
   opacity: 60%;
   margin: auto;
 }

 
 .img-formation-table:hover{
   width: 80%;
   opacity: 70%;
   margin: auto;
 }

 /*

 .icon-table-td:hover,
 .icon-table-td:focus {
 background-color: #005578;
}
*/
 .description-table-th ,
 .description-table-td {
   width: 20%;
   max-width: 20%;
   overflow: hidden;
 }

 .prix-table-th ,
 .prix-table-td {
  
   max-width: 29%;
   overflow: hidden;
 }


 .under-table-list-formation{
   width: 100%;
margin-top: 3%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }

 .btn-go-to-add-formation-content{
   justify-content: center ;
   width: 20%;
 }
 
.btn-go-to-add-formation{
 width: 100%;
 border-radius: 0.5em;
 background-color: #b5c858;
 border-color: #b6ca4f;
 color: #fff;
}
 


