<div class="section-list-formation">

   <div class="header-list-formation">
 
     <h1 class="titre-liste-formation">Nos Formations</h1>
     <div class="header-right-formation">
       
       <div class="search-list-formation">
         <input type="text" placeholder="recherche" [(ngModel)]="searchText" class="form-control input-search-formation " />
         
       </div>
     </div>
   </div>

   <div class="content-list-formation">
 
     <div class="table-container">
       <table>
         <thead>
           <tr class="">
             <th class="">Nom</th>
             <th class="">Type</th>
             <th class="prix-table-th">Prix <a >(heure par enfant)</a>  </th>
             <th class="">Durée</th>
             <th class="description-table-th">Description</th>
             <th class="">detail pdf</th>
        
             
           </tr>
         </thead>
         <tbody>
           <tr class="row-table-formation" *ngFor="let formation of formations  | filter:searchText" (click)=" goToReservation(formation.id)">
             <td class="">{{formation.nom}}</td>
             <td class="">{{formation.type}}</td>
             <td class="">{{formation.prix_enfant_heure}} dt</td>
             <td class="">{{formation.duree}} hours</td>
             <td class="description-table-td">{{formation.description}}</td>
             <td class="">{{formation.detail_pdf}}</td>
         
         
           </tr>
         </tbody>
       </table>
     </div>
 
   
 
    
 
   </div>

 </div>
 