<div class="section-list-stock">

  <div class="header-list-stock">

    <h1 class="titre-liste-stock">Gestion du Stock</h1>
    <div class="header-right-stock">
      <div class="image-add-stock-container" (click)="goToAddStock()">
        <img src="../../../../../assets/new-kit.png">
      </div>
      <div class="search-list-stock">
        <input type="text" placeholder="recherche" [(ngModel)]="searchText"  class="form-control input-search-stock" />
      </div>
    </div>
  </div>

  <div class="content-list-stock">

    <div class="table-container">
      <table>
        <thead>
          <tr class="">
            <th style="width: 55px;"></th>
            <th class="">Composant</th>
            <th class="">Quantite</th>
            <th class="">Type</th>
            <th class="">Prix</th>
            <th class="description-table-th">Description</th>
            <th class="icon-table-th"></th>
            <th class="icon-table-th"></th>
            <th class="icon-table-th"></th>
            
          </tr>
        </thead>
        <tbody>
          <tr class="row-table-stock"*ngFor="let stock of stocks | filter:searchText">
            <td class="">
              <img class="image-stock-table" [src]="getLinkPicture(stock.photo)" (error)="changeSource($event)">
            </td>
            <td class="">{{stock.nom}}</td>
            <td class="">{{stock.quantite}}</td>
            <td class="">{{stock.type}}</td>
            <td class="">{{stock.prix}} dt</td>
            <td class="description-table-td">{{stock.description}}</td>
            <td class="icon-table-td"> 
              <img class="img-stock-table" src="../../../../../assets/modif-image-icon.png" alt="" (click)="openDialogModifierImage(stock.id)">
            </td>
            <td class="icon-table-td"> 
              <img class="img-stock-table" src="../../../../../assets/edit.png" alt="" (click)="goToModifierStock(stock.id)">
            </td>
           <td class="icon-table-td"> 
              <img class="img-stock-table" src="../../../../../assets/trash.png" (click)="openDialog(stock.id)" alt="">
            </td>
           
          </tr>
        </tbody>
      </table>
    </div>

    


  </div>

</div>
