<div class="section-add-user">


   <div class="add-user-formulaire">
 
       <h1 class="titre-add-user">Modifier mot de passe</h1>
 
       <form class="form-add-user" [formGroup]="userForm" (ngSubmit)=" onSubmit()" novalidate >
 
 
 
           
 
         <div class="form-group1">
            <input type="password" placeholder="Mot de passe" class="form-control input-add-user"
            
            formControlName="password"
               required 
               minlength="6"  />

               <div class="alert-danger" *ngIf="!userForm.controls['password'].valid && (userForm.controls['password'].touched)">
                <div [hidden]="!userForm.controls['password'].errors.required">
                  password is required.
                </div>
                <div [hidden]="!userForm.controls['password'].errors.minlength">
                  password must be have 6 character length.
                </div>
              
              </div>


          </div>

          <div class="form-group1"  >
            <input type="password" placeholder="Confirmer mot de passe" class="form-control input-add-user"
            formControlName="confirmpassword"             
              required
               minlength="6" />

               <div class="alert-danger" *ngIf="(!userForm.controls['confirmpassword'].valid && (userForm.controls['confirmpassword'].touched))">
                <div [hidden]="!userForm.controls['confirmpassword'].errors.required">
                  confirmpassword is required.
                </div>
                <div [hidden]="!userForm.controls['confirmpassword'].errors.minlength">
                  confirmpassword must be have 6 character length.
                </div>

              
              
              </div>
              <div class="alert-danger" *ngIf=" (userForm.controls['confirmpassword'].value != userForm.controls['password'].value && (userForm.controls['confirmpassword'].touched))">

               <div [hidden]="userForm.controls['confirmpassword'].value == userForm.controls['password'].value">
                 wrong password 
               </div>
             
             </div>

          </div>
         
 
           <div class="container-formulaire ">
               <div class="container-formulaire-left">
 
                   <div class="form-group">
                       <div class="d-flex btn-add-user-display">
 
                           <button class="  btn btn-upload-photo-user" (click)="gotoDetailUser(user.id)">
                               Annuler
                           </button>
 
                       </div>
 
                   </div>
               </div>
 
               <div class="container-formulaire-right">
 
                   <div class="form-group">
                       <div class="d-flex btn-add-user-display">
 
                           <button class="btn btn-primary btn-block btn-add-user" type="submit"
                               [disabled]="!userForm.valid">
                               Modifier
                           </button>
 
                       </div>
 
                   </div>
 
               </div>
 
           </div>
 
       </form>
     
   </div>
 
 </div>