.section-add-user{
   display: flex;
   flex-direction: row;
   padding-right: 50px;
   padding-left: 50px;
   padding-top: 150px;
   background-color: #faf8f8;

   justify-content: center ;
//   height: -webkit-fill-available;
min-height: 86vh;
}

.add-user-formulaire{

   width: 50%;
   padding-bottom: 38px;
   margin-left: 20px;
   display: flex; 
   flex-direction: column;
}

.select-adresse{
  // height:100px;
   overflow:scroll;
}

.form-group {
   margin-bottom: 2rem !important;
   width: 95%;
}

.form-group1 {
   margin-bottom: 2rem !important;
   width: 100%;
}
.form-add-user{

   margin-top: 60px;
   align-self:  center;
   width: 70%;
}

.btn-add-user-display{
   justify-content: center ;
   width: 100%;
}

.titre-add-user{
   color: #005578;
  font-size: xx-large;
   font-weight: 500;
   justify-content: flex-start ;
}

.btn-add-user{
   width: 100%;
   border-radius: 0.5em;
   background-color: #2091c0;
   border-color: #2091c0;
   color: #fff;
   border: 1px solid transparent;
   padding: .375rem .75rem;
   font-size: 1rem;
   line-height: 1.5;
}


.btn-upload-photo-user{
   width: 100%;
   border-radius: 0.5em;
   background-color: #769baa;
   border-color: #769baa;
   color: #fff;
}

.input-add-user{
   width: 100%;
   background-color:  #ededed ;
}



.container-formulaire{
   display: flex;
   flex-direction: row;
  justify-content: space-between;
}

.container-formulaire-left{
   display: flex; 
   flex-direction: column;
   width: 50%;
   align-items:  flex-start ;
   justify-content: flex-start ;
}

.container-formulaire-right{
   display: flex; 
   flex-direction: column;
   width: 50%;
   align-items:  flex-end ;
   justify-content: flex-start ;
}